@import url('https://fonts.googleapis.com/css?family=Barlow|Merienda&display=swap');

* {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

.display-1, .display-2, .display-3, .display-4, .display {
    font-family: "Merienda", sans-serif;
}

hr{
    border: none;
    border-top: white solid 1px;
}