@import url('https://fonts.googleapis.com/css?family=Barlow|Merienda&display=swap');

* {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

.display-1, .display-2, .display-3, .display-4, .display {
    font-family: "Merienda", sans-serif;
}

hr{
    border: none;
    border-top: white solid 1px;
}

.title-bar{
    background: #303030;
    margin: 0;
    padding: 10px;
}

.title-bar h3{  
    margin: 0 !important;
}

input[type=radio]::after {
    content: attr(label);
    display: inline-block;
    color: white;
    width: 200px;
    position: relative;
    bottom: 5px;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap; 
    word-wrap: break-word;
    left: 15px;
}