<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>FindMyShelter - Home</title>
</head>
<body>
    <!-- Background Overlay -->
    <div id="background"></div>

    <!-- HEADER JUMBOTRON -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">FindMyShelter</h1>
            <p class="lead">Helping people in distress find their way out.</p>
            <hr>
            <div class="btn-group">
                <a data-toggle="modal" data-target="#login" class="btn btn-primary btn-lg" href="#" role="button">Login</a>
                <a data-toggle="modal" data-target="#signup" class="btn btn-success btn-lg" href="#" role="button">Signup</a>
            </div>
        </div>
        <div class="container"><form>
            <h2 class="display">Try it now!</h2>
            <br>
            <div class="input-group mb-3">
                    <input placeholder="Type in your location..." type="search" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button" id="button-addon2">Search Shelters</button>
                </div>
            </div>
        </form></div>
    </div>

    <!-- CONTAINER FOR SCREENSHOTS -->
    <div class="container">
        <feature-card
            img="/static/img/screen/maps.png"
            title="Intuitive Maps"
            text="Using Google Maps, FindMyShelter lets you see exactly where the desired shelter is down to the latitude and longitude if you wanted. With a click of a button, you can get directions to the shelter."
            href="https://maps.google.com"
            btn-text="Google Maps"
        ></feature-card>
    </div>
    <br>

    <!-- SIGNUP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display" id="exampleModalLabel">Signup:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form><div class="modal-body">
                <label for="username">Username:</label>
                <input type="text" class="form-control" required name="username" placeholder="Your name throughout the app...">
                <hr>
                <label for="password">Password:</label>
                <input type="password" required class="form-control" name="password" placeholder="Let's keep this one a secret...">
                <hr>
                <label>Organization Or User?</label>
                <div class="form-check">
                    <input checked type="radio" class="form-check-input" name="usertype" value="user">
                    <label class="form-check-label" for="usertype">User in need.</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="usertype" value="org">
                    <label class="form-check-label" for="usertype">Organization</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Signup</button>
            </div></form>
            </div>
        </div>
    </div>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display" id="exampleModalLabel">Login:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form><div class="modal-body">
                <label for="username">Username:</label>
                <input required type="text" class="form-control" name="username" placeholder="Your name throughout the app...">
                <hr>
                <label for="password">Password:</label>
                <input required type="password" class="form-control" name="password" placeholder="Let's keep this one a secret...">
                <hr>
                <label>Organization Or User?</label>
                <div class="form-check">
                    <input checked type="radio" class="form-check-input" name="usertype" value="user">
                    <label class="form-check-label" for="usertype">User in need.</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="usertype" value="org">
                    <label class="form-check-label" for="usertype">Organization</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div></form>
            </div>
        </div>
    </div>

    <!-- TOO MUCH JS -->
    <script src="https://kit.fontawesome.com/b8185e1d28.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/raghav-misra/mesh/lib/prod/polyfill.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/raghav-misra/mesh/lib/prod/mesh.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/components.js"></script>
    <script src="/static/js/user-login.js"></script>
</body>
</html>